.add-record {
  color: #14396A;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
}

.add-record:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
  }

  .history-list {
    display: grid;
    grid-gap: 20px;
  }

  .history-list .game-played {
    background-color: white;
    border: solid 1px #e3e3e3;
    padding: 1rem;
    border-radius: 1rem;
  }