  .history-list {
    display: grid;
    grid-gap: 20px;
  }

  .history-list .game-played {
    background-color: white;
    border: solid 1px #e3e3e3;
    padding: 1rem;
    border-radius: 1rem;
  }