* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #F7F7F7;
}
header {
    background-color: #59B300;
}
nav {
    height: 50px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    margin-bottom: 20px;
}

.select-game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px; 
    margin-top: 50px;
}

.select-game button {
  color: #14396A !important;
  font-size: 1rem;
  width: 50%;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
}

.select-game button:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
  }

/* Botones */
.btn {
    color: #14396A;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border-width: 2px;
    border-color:  #3866A3;
    border-style: solid;
    background: linear-gradient(to top, #63B8EE, #468CCF);
}
.btn:hover{
    color: white;
    background: linear-gradient(to top, #468CCF, #63B8EE);
}
/* gris */
.btn.btn-dim {
    color: #dcdbdb;
    background: transparent;
    border-color: #dcdbdb;
    border-style: dotted;
    border-width: 3px;
}
.btn.btn-dim:hover {
    color: white;
    background: #e3e3e3;
}
/* verde */
.btn.btn-confirm {
    background: linear-gradient(to top, #afee63, #97cd55);
    border-color:  #97cd55;
}
.btn.btn-confirm:hover {
    background: linear-gradient(to top, #97cd55, #afee63);
}
/* rojo */
.btn.btn-cancel {
    color: white;
    background: linear-gradient(to top, #d71010, #930d0d);
    border-color:  #930d0d;
}
.btn.btn-cancel:hover{
    background: linear-gradient(to top, #930d0d, #d71010 );
}

/* Layout */
.container {
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
    min-width: 320px;
}